.page-section {
  padding-top: 40px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include tablet-landscape {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  h2 {
    margin-bottom: $h2-line-height;

    @include tablet {
      margin-bottom: 32px;
    }

    @include tablet-landscape {
      margin-bottom: 48px;
    }
  }

  h3 {
    margin-bottom: $h3-line-height;

    @include tablet {
      margin-bottom: 32px;
    }

    @include tablet-landscape {
      margin-bottom: 48px;
    }
  }

  .with-line {
    padding-top: 20px;
  }

  .with-bg {
    h3,
    h4 {
      font-size: 1.2em;
      letter-spacing: -.5px;
    }

    p {
      margin-bottom: 0;
      font-size: 1em;
      line-height: 1.5em;

      + p {
        margin-top: 20px;
      }
    }
  }

  .grid {
    > * {
      grid-column-end: span 12;
      margin-top: 0;
    }

    .expanded {
      grid-column-end: span 12;
    }
  }

  @include tablet {
    .grid {
      > * {
        grid-column-end: span 6;
      }
    }

    .expanded {
      grid-column-end: span 12;
    }
  }

  @include tablet-landscape {
    .grid > * {
      grid-column-end: span 4;
    }
  }
}
