

<div class="demo">
  <button class="btn btn--primary">Button Primary</button>
  <button class="btn btn--secondary">Button Secondary</button>
</div>
<div class="demo">
  <button class="btn btn--primary btn--large">Button Primary Large</button>
  <button class="btn btn--secondary btn--large">Button Secondary Large</button>
</div>
<div class="demo">
  <button class="btn btn--primary btn--expanded">Button Primary Expanded</button>
</div>
<div class="demo">
  <button class="btn btn--secondary btn--expanded">Button Secondary Expanded</button>
</div>


