

<div class="demo">
  <div class="crew">
      <div class="crew__container">
        <div class="layout-grid">
          <div class="grid">
            <div class="cell tablet-12 desktop-7">
              <div class="crew__title">
                <h2>Meet our core crew</h2>
              </div>
              <div class="crew__text">
                <p>Our clients can be confident about the ability of our software engineers to perform the tasks they assigned to. Each of them is backed up by our team of over 100 experts with all the experience, accumulated during 15+ years in custom software development.</p>
             </div>
            </div>
          </div>
        </div>
        <div class="layout-grid">
          <div class="grid">
             <div class="crew-member cell tablet-6 desktop-3">
                <img class="crew-member__img" src="https://via.placeholder.com/230" alt="team member" />
                <span>Dmitriy Malyk</span>
                <p>QA team leader</p>
              </div>
              <div class="crew-member cell tablet-6 desktop-3">
                <img class="crew-member__img" src="https://via.placeholder.com/230" alt="team member" />
                <span>Dmitriy Malyk</span>
                <p>QA team leader</p>
              </div>
              <div class="crew-member cell tablet-6 desktop-3">
                <img class="crew-member__img" src="https://via.placeholder.com/230" alt="team member" />
                <span>Dmitriy Malyk</span>
                <p>QA team leader</p>
              </div>
              <div class="crew-member cell tablet-6 desktop-3">
                <img class="crew-member__img" src="https://via.placeholder.com/230" alt="team member" />
                <span>Dmitriy Malyk</span>
                <p>QA team leader</p>
              </div>
              <div class="crew-member cell tablet-6 desktop-3">
                <img class="crew-member__img" src="https://via.placeholder.com/230" alt="team member" />
                <span>Dmitriy Malyk</span>
                <p>QA team leader</p>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
