

<nav class="footer-nav">
  <ul class="footer-nav__list">
    <li class="footer-nav__item"><a href="/company" class="link">Company</a></li>
    <li class="footer-nav__item"><a href="/services" class="link">Services</a></li>
    <li class="footer-nav__item"><a href="/projects" class="link">Projects</a></li>
  </ul>
  <ul class="footer-nav__list">
    <li class="footer-nav__item"><a href="/write-for-us" class="link">Write for us</a></li>
    <li class="footer-nav__item"><a href="/team" class="link">Team</a></li>
    <li class="footer-nav__item"><a href="/blog" class="link">Blog</a></li>
  </ul>
  <ul class="footer-nav__list is-tools">
    <li class="footer-nav__item"><a href="/tools/estimate" class="link">App cost calculator <br>Beta</a></li>
    <li class="footer-nav__item"><a href="/tools/online-business-name-generator" class="link">Business name
        <br>generator</a></li>
  </ul>
</nav>

