

<footer id="footer" class="footer vcard">
  <div class="container">
    <h2 class="footer__title">Contact us</h2>
    <div class="footer__section footer__section--top">

      <!-- <form class="contact-form footer__form">
        <div class="input-group">
          <input class="input-group__input" id="contact_form_name" type="text">
          <label class="input-group__label" for="contact_form_name">Name:</label>
        </div>
        <div class="input-group">
          <input class="input-group__input" id="contact_form_phone" type="text">
          <label class="input-group__label" for="contact_form_phone">Phone:</label>
        </div>
        <div class="input-group">
          <input class="input-group__input" id="contact_form_email" type="text">
          <label class="input-group__label" for="contact_form_email">Email:</label>
        </div>
      </form> -->

      <section class="footer__contacts">
        <h3 class="footer__contacts-title">Start a conversation</h3>
        <a class="link email" href="mailto:sales@anadea.info">sales@anadea.info</a>
        <a class="link tel" href="skype:anadea.sales?call">Skype: anadea.sales</a>
        <a class="link tel" href="tel:+13152151575">+1 (315) 215-1575</a>
      </section>

      <p class="footer__intro">
        Our customers get exactly what they want by communicating with engineers directly and controlling the
        project
        as if they were in the same room with the team.
      </p>

      <div class="footer__address">
        <address class="locality street-address">
          Minsk, <br />
          Lisy Chaikinoy st 14
        </address>
        <address class="locality street-address">
          Alicante, <br />
          Calle Clara <br />
          Campoamor, 12
        </address>
        <address class="locality street-address">
          Dnepropetrovsk,<br />
          Sholom-Aleykhem Street 4/26
        </address>
        <address class="locality street-address">
          Grodno,<br />
          The 1 of May st, 19
        </address>
      </div>
    </div>

    <div id="footer-bottom" class="footer__section footer__section--bottom">

      <nav class="footer-nav">
        <ul class="footer-nav__list">
          <li class="footer-nav__item"><a href="/company" class="link">Company</a></li>
          <li class="footer-nav__item"><a href="/services" class="link">Services</a></li>
          <li class="footer-nav__item"><a href="/projects" class="link">Projects</a></li>
        </ul>
        <ul class="footer-nav__list">
          <li class="footer-nav__item"><a href="/write-for-us" class="link">Write for us</a></li>
          <li class="footer-nav__item"><a href="/team" class="link">Team</a></li>
          <li class="footer-nav__item"><a href="/blog" class="link">Blog</a></li>
        </ul>
        <ul class="footer-nav__list is-tools">
          <li class="footer-nav__item"><a href="/tools/estimate" class="link">App cost calculator <br>Beta</a></li>
          <li class="footer-nav__item"><a href="/tools/online-business-name-generator" class="link">Business name
              <br>generator</a></li>
        </ul>
      </nav>

      <nav class="footer__social">

        <ul class="socials-list">
          <li class="socials-list__item">
            <a class="link" href="https://www.facebook.com/anadeainc" target="_blank">
              {% inline_svg image: icons/icon-facebook.svg %}</a>
          </li>
          <li class="socials-list__item">
            <a class="link" href="https://instagram.com/anadea_inc/" target="_blank">
              {% inline_svg image: icons/icon-insta.svg %}</a>
          </li>
          <li class="socials-list__item">
            <a class="link" href="https://www.linkedin.com/company/anadea-inc" target="_blank">
              {% inline_svg image: icons/icon-linkedin.svg %}</a>
          </li>
          <li class="socials-list__item">
            <a class="link" href="https://twitter.com/AnadeaInc" target="_blank">
              {% inline_svg image:icons/icon-twitter.svg %}</a>
          </li>
          <li class="socials-list__item">
            <a class="link" href="https://t.me/joinchat/AAAAAEqQnCs1G4V4gA8tKA" target="_blank">
              {% inline_svg image: icons/icon-telegram.svg %}</a>
          </li>
          <li class="socials-list__item">
            <a class="link" href="https://plus.google.com/108668495827647905976/" target="_blank">
              {% inline_svg image: icons/icon-google.svg %}</a>
          </li>
        </ul>

        <div class="footer__copyright org">
          © 2000-2018 Anadea Inc.<br />
          All rights reserved
        </div>
      </nav>

      <a href="/awards-achievements" class="link footer__awards">
        {% inline_svg image: icons/awards-achievements.svg %}
      </a>
      <div class="footer__lang">{% snippet local_lang %}</div>
    </div>
  </div>
</footer>

