

<div class="container">
  <div class="hero-extended">
    <img class="hero-extended__bg-img" src="/assets/hero-extended-bg.png" alt="hero extended background">
    <div class="hero-extended__inner">
      <h3 class="hero-extended__title">Custom software<br/> development for web<br/> and mobile</h3>
      <div class="hero-extended__bottom">
        <div class="hero-extended__date">Feb 19, 2018</div>
        <div class="hero-extended__social">
          <div class="hero-extended__num">11</div>
          <ul class="hero-extended__list">
            <li class="hero-extended__item"><a href="#"><img src="/assets/hero-icon-facebook.svg" alt="social icon"></a></li>
            <li class="hero-extended__item"><a href="#"><img src="/assets/hero-icon-insta.svg" alt="social icon"></a></li>
            <li class="hero-extended__item"><a href="#"><img src="/assets/hero-icon-linkedin.svg" alt="social icon"></a></li>
            <li class="hero-extended__item"><a href="#"><img src="/assets/hero-icon-twitter.svg" alt="social icon"></a></li>
            <li class="hero-extended__item"><a href="#"><img src="/assets/hero-icon-telegram.svg" alt="social icon"></a></li>
            <li class="hero-extended__item"><a href="#"><img src="/assets/hero-icon-google.svg" alt="social icon"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

