

<div class="other-project">
  <div class="container">
    <h3 class="other-project__title">Other projects</h3>
  </div>
  <div class="other-project__items">

    <figure class="project-card-sm">
      <img class="project-card-sm__img" src=/assets/projects/project-card-askmumm.jpg alt="project image">
      <figcaption class="project-card-sm__caption">
        <div class="project-card-sm__subtitle">APP DEVELOPMENT</div>
        <h4 class="project-card-sm__title">askMUMM</h4>
      </figcaption>
    </figure>
    <figure class="project-card-sm">
      <img class="project-card-sm__img" src=/assets/projects/project-card-turbine.jpg alt="project image">
      <figcaption class="project-card-sm__caption">
        <div class="project-card-sm__subtitle">DEVELOPMENT</div>
        <h4 class="project-card-sm__title">Turbine</h4>
      </figcaption>
    </figure>
    <figure class="project-card-sm">
      <img class="project-card-sm__img" src=/assets/projects/project-card-snazzi.jpg alt="project image">
      <figcaption class="project-card-sm__caption">
        <div class="project-card-sm__subtitle">APP DEVELOPMENT</div>
        <h4 class="project-card-sm__title">Snazzi</h4>
      </figcaption>
    </figure>
    <figure class="project-card-sm">
      <img class="project-card-sm__img" src=/assets/projects/project-card-noturbine.jpg alt="project image">
      <figcaption class="project-card-sm__caption">
        <div class="project-card-sm__subtitle">DEVELOPMENT</div>
        <h4 class="project-card-sm__title">Turbine</h4>
      </figcaption>
    </figure>

  </div>
</div>

