

<div class="page-section layout-grid with-line">
  <div class="grid">
    <div class="cell desktop-4">
      <h2>Header for Section as cell </h2>
    </div>
    <div class="cell tablet-6 desktop-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores eum, laborum minus omnis optio perspiciatis possimus quaerat quam quas reiciendis, rem saepe totam ut velit? Aliquid aspernatur assumenda, atque consequatur delectus dignissimos distinctio eligendi eum id incidunt labore libero maiores non odio perspiciatis quas quasi quo sed temporibus unde.</p>
    </div>
    <div class="cell tablet-6 desktop-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut exercitationem fuga neque optio rem veniam, vero voluptate voluptatum? Blanditiis, harum, provident! Accusantium ad aut beatae corporis culpa dolor dolores doloribus eum iste libero perferendis praesentium quibusdam soluta velit, voluptate voluptates voluptatum! Aliquid animi beatae fugiat maxime minus optio quae temporibus tenetur veniam vitae. Ab, accusamus asperiores aspernatur distinctio dolor doloribus earum est ipsa laborum libero molestiae mollitia nobis omnis, praesentium, quae ullam veniam voluptates!</p>
    </div>
  </div>
</div>

<div class="page-section ">
  <div class="layout-grid">
    <div class="grid">
      <div class="cell tablet-12 desktop-4">
        <h2>Header for Section full width</h2>
      </div>
      <div class="cell tablet-6 desktop-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae eum harum itaque repudiandae tempora, tenetur totam voluptatem? Error laboriosam maiores nulla odit quidem sequi sint totam ut, velit vitae?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae eum harum itaque repudiandae tempora, tenetur totam voluptatem? Error laboriosam maiores nulla odit quidem sequi sint totam ut, velit vitae?</p>
      </div>
      <div class="cell tablet-6 desktop-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores eum, laborum minus omnis optio perspiciatis possimus quaerat quam quas reiciendis, rem saepe totam ut velit? Aliquid aspernatur assumenda, atque consequatur delectus dignissimos distinctio eligendi eum id incidunt labore libero maiores non odio perspiciatis quas quasi quo sed temporibus unde.</p>
      </div>
    </div>
  </div>
  <div class="layout-grid">
    <div class="grid">
      <div class="cell tablet-6 desktop-4 desktop-offset-4">
        <div class="feature">
  <div class="feature__mark">
    <h3 class="feature__title">7</h3>
    <span class="feature__subtitle">%</span>
  </div>
  <p class="feature__description">
    the eLearning market annual growth
  </p>
</div>

        <div class="feature">
  <div class="feature__mark">
    <h3 class="feature__title">7</h3>
    <span class="feature__subtitle">%</span>
  </div>
  <p class="feature__description">
    the eLearning market annual growth
  </p>
</div>

      </div>
      <div class="cell tablet-6 desktop-4">
        <div class="feature">
  <div class="feature__mark">
    <h3 class="feature__title">7</h3>
    <span class="feature__subtitle">%</span>
  </div>
  <p class="feature__description">
    the eLearning market annual growth
  </p>
</div>

        <div class="feature">
  <div class="feature__mark">
    <h3 class="feature__title">7</h3>
    <span class="feature__subtitle">%</span>
  </div>
  <p class="feature__description">
    the eLearning market annual growth
  </p>
</div>

      </div>
    </div>
  </div>
</div>

