

<figure class="presenter-project">
  <figcaption class="presenter-project__caption">
    <span class="presenter-project__subtitle">APP DEVELOPMENT</span>
    <h3>Education Software</h3>
    <p>The askMUMM app gives you the ability to ask a selected group of people, or anonymous people, questions with which you just can make up your mind.</p>
  </figcaption>
  <div class="presenter-project__inner">
    <img src="/assets/projects/centogene/centogene.png" alt="team member" />
  </div>
</figure>

