

<figure class="presenter">
  <figcaption class="presenter__caption">
    <h3 class="presenter__title">Connect with your customers</h3>
    <p class="presenter__text">
      It is important to stay connected with your customers at all stages of creating your app. So, start getting input
      from your existing customer base at
      early stages of shaping your app idea
    </p>
  </figcaption>
  <div class="presenter__inner">
    <img class="presenter__img" src="/assets/presenter-img.png" alt="presenter image">
  </div>
</figure>

