

<figure class="project-card">
  <figcaption class="project-card__caption">
    <div class="project-card__subtitle">app development</div>
    <h3 class="project-card__title">Centogene</h3>
    <p class="project-card__text">The askMUMM app gives you the ability to ask a selected group of people, or anonymous people, questions with which you just can make up your mind.</p>
  </figcaption>
  <div class="project-card__inner">
    <img class="project-card__img" src=/assets/project-card-img.png alt="project card image">
  </div>
</figure>

