

<ul class="socials-list">
  <li class="socials-list__item">
    <a class="link" href="https://www.facebook.com/anadeainc" target="_blank">
      {% inline_svg image: icons/icon-facebook.svg %}</a>
  </li>
  <li class="socials-list__item">
    <a class="link" href="https://instagram.com/anadea_inc/" target="_blank">
      {% inline_svg image: icons/icon-insta.svg %}</a>
  </li>
  <li class="socials-list__item">
    <a class="link" href="https://www.linkedin.com/company/anadea-inc" target="_blank">
      {% inline_svg image: icons/icon-linkedin.svg %}</a>
  </li>
  <li class="socials-list__item">
    <a class="link" href="https://twitter.com/AnadeaInc" target="_blank">
      {% inline_svg image:icons/icon-twitter.svg %}</a>
  </li>
  <li class="socials-list__item">
    <a class="link" href="https://t.me/joinchat/AAAAAEqQnCs1G4V4gA8tKA" target="_blank">
      {% inline_svg image: icons/icon-telegram.svg %}</a>
  </li>
  <li class="socials-list__item">
    <a class="link" href="https://plus.google.com/108668495827647905976/" target="_blank">
      {% inline_svg image: icons/icon-google.svg %}</a>
  </li>
</ul>

