

<div class="testimonials">
  <div class="testimonials__container">
    <div class="layout-grid">
      <div class="grid">
        <div class="cell tablet-12 desktop-7">
          <div class="testimonials__title">
            <h2>Testimonials</h2>
          </div>
          <div class="testimonials__text">
            <p>We believe that rich IT expertise are the keys to our company’s success</p>
          </div>
        </div>
      </div>
    </div>

    <div class="layout-grid">
      <div class="grid">
        <div class="cell tablet-6 desktop-4">
          <div class="testimonial">
            <div class="testimonial__name">
              <span>Gene Krause</span>
            </div>
            <div class="testimonial__subname">
              <span>Skoach</span>
            </div>
            <div class="testimonial__text">
              <p>Stellar development performance from Anadea, as always.</p>
            </div>
            <div class="testimonial__date">
              <span>Feb 19, 2018</span>
            </div>
          </div>
          <div class="testimonial">
            <div class="testimonial__name">
              <span>Mathias Ehlert</span>
            </div>
            <div class="testimonial__subname">
              <span>Sproov</span>
            </div>
            <div class="testimonial__text">
              <p>Anadea did a great job for us. We had pretty complex tasks which required more than basic
                web-development skills.
                Anadea had the perfect staff for these tasks. </p>
            </div>
            <div class="testimonial__date">
              <span>Feb 15, 2018</span>
            </div>
          </div>
        </div>
        <div class="cell tablet-6 desktop-4">
          <div class="testimonial">
            <div class="testimonial__name">
              <span>Alex Turetsky</span>
            </div>
            <div class="testimonial__subname">
              <span>Smart Lessons</span>
            </div>
            <div class="testimonial__text">
              <p>Anadea did a great job for us. We had pretty complex tasks which required more than basic
                web-development skills. Anadea had the perfect staff for these tasks. They did professional software
                engineering and were also very patient with us. We would definitely hire them again</p>
            </div>
            <div class="testimonial__date">
              <span>Feb 19, 2018</span>
            </div>
          </div>
          <div class="testimonial">
            <div class="testimonial__name">
              <span>Richard Peck</span>
            </div>
            <div class="testimonial__subname">
              <span>Frontline Fusion</span>
            </div>
            <div class="testimonial__text">
              <p>I really feel so lucky that I was able to find you guys, and have to say that this is the best
                experience I've ever had in my professional career so far. I feel like everything is coming together,
                and it's all thanks to both of you.</p>
            </div>
            <div class="testimonial__date">
              <span>Feb 19, 2018</span>
            </div>
          </div>
        </div>
        <div class="cell tablet-6 desktop-4">
          <div class="testimonial">
            <div class="testimonial__name">
              <span>Gene Krause</span>
            </div>
            <div class="testimonial__subname">
              <span>Frontline Fusion</span>
            </div>
            <div class="testimonial__text">
              <p>I really feel so lucky that I was able to find you guys, and have to say that this is the best
                experience I've ever had in my professional career so far. I feel like everything is coming together,
                and it's all thanks to both of you.
                I am truly grateful for your dedication, and really hope to work together for as long as possible. They
                did professional software engineering and were also very patient with us. We would definitely hire them
                again</p>
            </div>
            <div class="testimonial__date">
              <span>Feb 19, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

