

<div class="container">
  <div class="text-block">
    <h3 class="text-block__title">Understanding agile project management</h3>
    <p class="text-block__text">Unlike traditional project management where a project manager bears most of the
      responsibilities, agile project management
      distributes all responsibilities of the project among team members. The workforce itself shoulders project
      management roles when defining the best
      strategies to attain the final objectives. Group members collectively select which individual would accomplish
      what task, which methodical practices
      are
      essential to attain specific objectives, and so on.
    </p>
    <p class="text-block__text">Unlike traditional project management where a project manager bears most of the
      responsibilities, agile project management
      distributes all responsibilities of the project among team members. The workforce itself shoulders project
      management roles when defining the best
      strategies to attain the final objectives. Group members collectively select which individual would accomplish
      what task, which methodical practices
      are
      essential to attain specific objectives, and so on.
    </p>
  </div>
</div>

<div class="container">
  <div class="text-block with-background">
    <h3 class="text-block__title">Understanding agile project management</h3>
    <p class="text-block__text">Unlike traditional project management where a project manager bears most of the
      responsibilities, agile project management
      distributes all responsibilities of the project among team members. The workforce itself shoulders project
      management roles when defining the best
      strategies to attain the final objectives. Group members collectively select which individual would accomplish
      what task, which methodical practices
      are
      essential to attain specific objectives, and so on.
    </p>
    <p class="text-block__text">Unlike traditional project management where a project manager bears most of the
      responsibilities, agile project management
      distributes all responsibilities of the project among team members. The workforce itself shoulders project
      management roles when defining the best
      strategies to attain the final objectives. Group members collectively select which individual would accomplish
      what task, which methodical practices
      are
      essential to attain specific objectives, and so on.
    </p>
  </div>
</div>

