.text-block {
  padding: 40px 24px;

  @include tablet {
    padding: 64px 100px;
  }

  @include tablet-landscape {
    padding: 100px 160px;
  }

  &.with-background {
    background-color: #f2f2f2;
  }

  &__title {}

  &__text,
  p {
    hyphens: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
