.page-section-paragraph {
  padding-top: 40px;
  padding-bottom: 40px;
  column-count: 1;

  @include tablet {
    padding-top: 64px;
    padding-bottom: 64px;
    column-gap: 40px;
    column-count: 2;
  }

  @include tablet-landscape {
    padding-top: 100px;
    padding-bottom: 100px;
    column-count: 3;
  }

  .expanded {
    column-span: all;
  }
}
