

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
    <title>Preview Layout</title>

    <link media="all" rel="stylesheet" href="../../assets/normalize.css"/>
    <link media="all" rel="stylesheet" href="../../assets/bundle.css"/>
  </head>

  <body class="default">
    <div class='demo'>
  <div class='page-section-paragraph'>
    <h3 class="expanded">The major challenges that educational institutions face:</h3>
    <p>The need for personalized learning, that off-the-shelf education software solutions are not able to provide.</p>
    <p>Making education accessible to all through enhancing the educational practices and tools in order to bridge the geographical gap and cater for more diverse group of learners.</p>
    <p>Increasing the quality of education, which requires adopting new administrative procedures, learning techniques and technologies.</p>
  </div>
</div>

  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="../../assets/bundle.js"></script>
</html>

