

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
    <title>Preview Layout</title>

    <link media="all" rel="stylesheet" href="../../assets/normalize.css"/>
    <link media="all" rel="stylesheet" href="../../assets/bundle.css"/>
  </head>

  <body class="default">
    <p>Developing a mobile application is a complicated task, especially when you are designing a telemedicine app that will facilitate online health visits. As a developer, you need to fit in the unique user interface with excellent app functionality to ensure smooth interaction between the patient and the doctor through video chat.</p>
<p>Are there any changes in a DSL provided for defining tables and relations between them? We have only noticed that it is not necessary anymore. Are there any changes in a DSL provided for defining tables?</p>

  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="../../assets/bundle.js"></script>
</html>

