

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
    <title>Preview Layout</title>

    <link media="all" rel="stylesheet" href="../../assets/normalize.css"/>
    <link media="all" rel="stylesheet" href="../../assets/bundle.css"/>
  </head>

  <body class="default">
    <article class="post-item">
  <figure class="post-item__info">
    <img class="post-item__img" src=/assets/preview-img.png alt="background image">

    <figcaption class="post-item__caption">
      <h3 class="post-item__title">
        <a href="#">Knowledge Management across Agile Project Teams</a>
      </h3>
      <div class="post-item__tags">
        <a href=/blog/category/medtech rel="tag">Mobile</a>
        <a href=/blog/category/medtech rel="tag">Mobile</a>
      </div>
      <div class="article-info vcard">
        <img class="article-info__avatar" src=/assets/guest-writer.jpg alt=Max Emelianov>
        <div class="article-info__inner">
          <a class="link article-info__author fn" href=/blog/author/max-emelianov rel="friend colleague met">Max Emelianov</a>
          <time class="article-info__date" datetime=></time>
        </div>
      </div>
    </figcaption>
  </figure>

  <p class="post-item__truncated" data-link=/blog/category/medtech>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus distinctio nulla laboriosam. Ullam blanditiis, accusamus quidem laboriosam nobis perspiciatis nihil autem a odit itaque voluptate sint...
  </p>
</article>

  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="../../assets/bundle.js"></script>
</html>

