

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
    <title>Preview Layout</title>

    <link media="all" rel="stylesheet" href="../../assets/normalize.css"/>
    <link media="all" rel="stylesheet" href="../../assets/bundle.css"/>
  </head>

  <body class="default">
    <figure class="presenter-project">
  <figcaption class="presenter-project__caption">
    <span class="presenter-project__subtitle">APP DEVELOPMENT</span>
    <h3>Education Software</h3>
    <p>The askMUMM app gives you the ability to ask a selected group of people, or anonymous people, questions with which you just can make up your mind.</p>
  </figcaption>
  <div class="presenter-project__inner">
    <img src="/assets/projects/centogene/centogene.png" alt="team member" />
  </div>
</figure>

  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="../../assets/bundle.js"></script>
</html>

