

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
    <title>Preview Layout</title>

    <link media="all" rel="stylesheet" href="../../assets/normalize.css"/>
    <link media="all" rel="stylesheet" href="../../assets/bundle.css"/>
  </head>

  <body class="default">
    <figure class="project-card">
  <figcaption class="project-card__caption">
    <div class="project-card__subtitle">app development</div>
    <h3 class="project-card__title">Centogene</h3>
    <p class="project-card__text">The askMUMM app gives you the ability to ask a selected group of people, or anonymous people, questions with which you just can make up your mind.</p>
  </figcaption>
  <div class="project-card__inner">
    <img class="project-card__img" src=/assets/project-card-img.png alt="project card image">
  </div>
</figure>

  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="../../assets/bundle.js"></script>
</html>

